
.image{
    text-align: center;
}
body{
    margin-left: 15%;
    margin-right: 15%;
    
}

.partie1{
    background-color: rgb(117, 232, 247);            
    width: 31%; 
    padding-left: 2%;
}
.partie2{
    background-color: rgb(255, 255, 255); 
    width: 69%;
    padding-left: 2%;
}

.contenu {
    display: flex;
    border: 4px solid black; /* épaisseur, style et couleur */
    border-radius: 9px;        /* coins arrondis  */
    margin-left: 0%;
}
.infoPerso, .compet, .langue{
    padding-left: 7%;

}

